@model IEnumerable<Products.Models.Product>
@{
    ViewBag.Title = "ProductsTable";
}

<h2>ProductsTable</h2>

<table class="table-bordered">

    <th>Id</th>
    <th>Name</th>
    


    @{
        int count = 0;
        foreach (var el in Model)
        {
            count++;
    <tr>
        <td>@count</td>
        <td>@Html.ActionLink(el.Name, "LinkPage", "Home", new { id = el.Name }, null)</td>
        <td>@Html.ActionLink("Dscription", "LinkDescription", "Home", new { id = el.Name }, new {@class= "btn btn-primary" })</td>


    </tr>
    
        }
    <tr>


        <td>@count</td>
        <td>@Html.ActionLink("Dich", "LinkPage", "Home", new { id = 3 }, null)</td>
        <td>@Html.ActionLink("Dscription", "LinkDescription", "Home", new { id = 3 }, new { @class = "btn btn-primary" })</td>

    </tr>
    }

</table>

