@model IEnumerable<Products.Models.Product>
@{
    ViewBag.Title = "ProductsTable";
}
<script type="text/javascript">


    function Click(val) {
        $.ajax({
            url: `http://localhost:50732/Home/LinkDescription/${val}`,
            type: "GET",
            success: function (data) {
                
                $('#result').html(`<b>Description: ${data.Text}</b>`)
            },
            error: function () {
                alert("123");
            }
        });
    }
    </script>

<h2>ProductsTable</h2>

<table class="table-bordered col-12">

    <th>Id</th>
    <th>Name</th>
    <th>Description</th>



    @{
        int count = 0;
        foreach (var el in Model)
        {
            count++;
            <tr>
                <td>@count</td>
                <td>@Html.ActionLink(el.Name, "LinkPage", "Home", new { id = el.Name }, null)</td>
                <td><button id="desc" class="btn btn-primary" onclick="Click('@el.Name')">Descriptions</button></td>


            </tr>

        }
        <tr>


            <td>@count</td>
            <td>@Html.ActionLink("Dich", "LinkPage", "Home", new { id = 3 }, null)</td>
            <td><button id="desc" class="btn btn-primary" onclick="Click('gfhfg')">Descriptions</button></td>


        </tr>
    }

</table>

<div id="result"></div>

